Repository marcdhansen/LightRAG_plusplus: changes, and which pre-commit hooks are due for each by the changed paths.
All: webui-lint, docs-coverage, tdd-validation, test-coverage-gate

webui-lint:
  name: WebUI Linting
  entry: bash -c "cd lightrag_webui && bun run lint"
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

docs-coverage:
  name: Documentation Coverage & Portability
  entry: uv run python scripts/check_docs_coverage.py
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

tdd-validation:
  name: TDD Gate Validation
  entry: python .agent/scripts/tdd_gate_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-coverage-gate:
  name: Test Coverage Gate
  entry: bash -c 'coverage report --fail-under=80 || echo "Test coverage below 80%"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add comprehensive safety guardrails analysis and roadmap integration
  .agent/rules/ImplementationPlan.md
  .agent/rules/ROADMAP.md
  docs/project/SAFETY_GUARDRAILS_ANALYSIS.md
Due: docs-coverage

Fix all ruff linting errors
  .agent/IMPLEMENTATION_READINESS_COMPLETE.md
  .agent/docs/TDD_COMPLIANCE_SYSTEM.md
  .agent/docs/sop/MULTI_PHASE_HANDOFF_PROTOCOL.md
  .agent/docs/sop/MULTI_PHASE_IMPLEMENTATION_SUMMARY.md
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/test_pfc_integration.sh
  .agent/scripts/validate_beads_issue.sh
  .agent/scripts/validate_implementation_ready.py
  .agent/scripts/validate_tdd_compliance.sh
  .agent/scripts/verify_handoff_compliance.sh
  .github/workflows/tdd-compliance.yml
  DSPY_PHASE1_SUMMARY.md
  DSPY_PHASE2_SUMMARY.md
  MISSION_CLOSURE_SUMMARY.md
  MISSION_DEBRIEF_DSPY_PHASE2.md
  docs/architecture/DSPY_SOP_REFACTORING_DECISION.md
  docs/project/SAFETY_GUARDRAILS_ANALYSIS.md
  docs/sop/workspace/DOCUMENTATION_LINK_VALIDATION.md
  dspy_phase1_demo.py
  lightrag/dspy_integration/README.md
  lightrag/dspy_integration/__init__.py
  lightrag/dspy_integration/config.py
  lightrag/dspy_integration/evaluators/prompt_evaluator.py
  lightrag/dspy_integration/generators/entity_extractor.py
  lightrag/dspy_integration/optimizers/ab_integration.py
  lightrag/dspy_integration/phase2/__init__.py
  lightrag/dspy_integration/phase2/ace_cot_integration.py
  lightrag/dspy_integration/phase2/production_pipeline.py
  lightrag/dspy_integration/phase2/prompt_family_optimization.py
  lightrag/dspy_integration/phase2/prompt_replacement.py
  lightrag/dspy_integration/phase2/realtime_monitoring.py
  lightrag/dspy_integration/phase2/realtime_optimizer.py
  lightrag/dspy_integration/prompts/dspy_ab_test_matrix.json
  lightrag/dspy_integration/prompts/optimized_entity_prompts.json
  lightrag/evaluation/grounded_ai_backend.py
  scripts/validate_global_agent_index_links.py
  scripts/validate_global_index_links.py
  test_dspy_integration.py
Due: docs-coverage, tdd-validation, test-coverage-gate

Fix: Make quality gates critical instead of optional
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/tdd_gate_validator.py
Due: none

Restructure: Move ruff quality checks from PFC to RTB
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/tdd_gate_validator.py
  ab_testing/README.md
  ab_testing/advanced_dashboard.py
  ab_testing/comprehensive_framework.py
  ab_testing/demo_complete_framework.py
  ab_testing/enhanced_production_test.py
  ab_testing/load_testing_canary.py
  ab_testing/production_ab_framework.py
  ab_testing/production_real_test.py
  ab_testing/realtime_monitoring.py
  ab_testing/requirements.txt
  ab_testing/simple_ab_framework.py
  ab_testing/statistical_analysis.py
  ab_testing/ultra_simple_ab_framework.py
  test_ace_curator/ace_data/context_playbook.json
  test_ace_curator_exec/ace_data/context_playbook.json
Due: none

Add TDD artifacts for lightrag-64p feature
  docs/lightrag-64p_analysis.md
  test_ace_policy_temp/ace_data/context_playbook.json
  test_ace_policy_temp_large/ace_data/context_playbook.json
  tests/lightrag-64p_functional.py
  tests/lightrag-64p_tdd.py
Due: docs-coverage

Implement comprehensive CI/CD prevention system
  .github/workflows/feature-branch-setup.yml
  .github/workflows/tdd-compliance.yml
  docs/ci-cd-prevention-guide.md
  scripts/create-tdd-artifacts.sh
  scripts/dev-start-check.sh
Due: docs-coverage

Implement pre-commit framework for TDD prevention
  .pre-commit-config.yaml
  docs/ci-cd-prevention-guide.md
  scripts/hooks/beads-sync-check.sh
  scripts/hooks/tdd-compliance-check.sh
  scripts/setup-pre-commit.sh
Due: docs-coverage

Add simple pre-commit setup guide
  PRECOMMIT_SETUP.md
Due: none

Fix CI/CD import issue with minimal changes
  lightrag/skill_resolver.py
  tests/test_skill_resolver.py
Due: tdd-validation, test-coverage-gate

rtb-auto-commit: beads task creation update
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-05 05:21:37
  .beads/issues.jsonl
Due: none

fix(ci): standardize feature detection and normalize PR branch names
  .github/workflows/feature-branch-setup.yml
  .github/workflows/tdd-compliance.yml
  tests/lightrag-64p_functional.py
Due: none

chore: include updated TDD artifacts and scripts in CI fix [lightrag-64p]
  docs/lightrag-64p_analysis.md
  scripts/create-tdd-artifacts.sh
  scripts/dev-start-check.sh
  tests/lightrag-64p_tdd.py
Due: docs-coverage

bd sync: 2026-02-05 05:30:09
  .beads/issues.jsonl
Due: none

fix(ci): bypass branch protection in CI environment to allow main validation [lightrag-gs2]
  .agent/scripts/main_branch_protection.sh
  .github/workflows/tdd-compliance.yml
  docs/fix-ci-branch-protection_analysis.md
  tests/fix-ci-branch-protection_functional.py
  tests/fix-ci-branch-protection_tdd.py
Due: docs-coverage

fix(ci): resolve bash arithmetic pitfall and standardize feature extraction [lightrag-run-21700373287]
  .github/workflows/feature-branch-setup.yml
  .github/workflows/tdd-compliance.yml
  docs/fix-ci-logic_analysis.md
  scripts/dev-start-check.sh
  tests/fix-ci-logic_functional.py
  tests/fix-ci-logic_tdd.py
Due: docs-coverage

refactor: convert core and utils to proper packages to fix CI shadowing
  lightrag/core/__init__.py
  lightrag/skill_resolver.py
  lightrag/utils/__init__.py
  tests/test_skill_resolver.py
Due: tdd-validation, test-coverage-gate

bd sync: 2026-02-05 15:11:47
  .beads/issues.jsonl
Due: none

feat: complete CI/CD permanent fix with comprehensive TDD artifacts
  .agent/scripts/tdd_gate_validator.py
  .github/workflows/ci-setup.yml
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  docs/cd-permanent-fix_analysis.md
  docs/ci-troubleshooting.md
  scripts/ci-diagnostic.sh
  scripts/collect-ci-debug-info.sh
  scripts/hooks/beads-sync-check.sh
  scripts/hooks/tdd-compliance-check.sh
  scripts/hooks/webui-lint-check.sh
  tests/cd-permanent-fix_functional.py
  tests/cd-permanent-fix_tdd.py
Due: docs-coverage

rtb-auto-commit: pre-commit auto-fixes and test artifacts
  test_ace_api_storage/ace_data/context_playbook.json
Due: none

fix(ci): add explicit permissions to workflows [lightrag-cd-fix]
  .github/workflows/feature-branch-setup.yml
  .github/workflows/tdd-compliance.yml
Due: none

fix(ci): robust feature name extraction from nested branches [lightrag-cd-fix]
  .github/workflows/feature-branch-setup.yml
  .github/workflows/tdd-compliance.yml
Due: none

fix(ci): skip TDD artifact validation on main branch [lightrag-cd-fix]
  .github/workflows/tdd-compliance.yml
Due: none

chore: implement P0 harness migration tasks (final pass)
  .beads/issues.jsonl
  docs/lightrag-1np_analysis.md
  docs/lightrag-harness-p0_analysis.md
  scripts/agent-init.sh
  scripts/enhanced-agent-init.sh
  tests/lightrag-1np_functional.py
  tests/lightrag-1np_tdd.py
  tests/lightrag-harness-p0_functional.py
  tests/lightrag-harness-p0_tdd.py
Due: docs-coverage

chore: implement Phase 2 SOTA harness (ledgers & validators) (lightrag-1np)
  .beads/issues.jsonl
  docs/lightrag-4qs_analysis.md
  tests/lightrag-4qs_functional.py
  tests/lightrag-4qs_tdd.py
Due: docs-coverage

chore: implement Phase 3 SOTA harness (checkpointing & orchestration) (lightrag-1np)
  .beads/issues.jsonl
  docs/lightrag-sof3_analysis.md
  tests/lightrag-sof3_functional.py
  tests/lightrag-sof3_tdd.py
Due: docs-coverage

chore: cleanup stale task files (lightrag-1np)
  .agent/task.md
  docs/lightrag-cleanup_analysis.md
  task.md
  tests/lightrag-cleanup_functional.py
  tests/lightrag-cleanup_tdd.py
Due: docs-coverage

chore: implement LangGraph migration (lightrag-bcak)
  .beads/issues.jsonl
  docs/lightrag-bcak_analysis.md
  harness/__init__.py
  harness/agents/__init__.py
  harness/agents/hephaestus.py
  harness/agents/sisyphus.py
  harness/compliance.py
  harness/engine.py
  harness/nodes/__init__.py
  harness/nodes/ifo.py
  harness/nodes/pfc.py
  harness/nodes/rtb.py
  harness/persistence.py
  harness/state.py
  test_harness_state.db-shm
  test_harness_state.db-wal
  tests/lightrag-bcak_functional.py
  tests/lightrag-bcak_tdd.py
  tests/test_harness_full.py
  tests/test_harness_hil.py
  tests/test_langgraph_infra.py
Due: docs-coverage

chore: final task sync (lightrag-bcak)
  docs/lightrag-final-sync_analysis.md
  tests/lightrag-final-sync_functional.py
  tests/lightrag-final-sync_tdd.py
Due: docs-coverage

fix: remove npm caching when no package.json in root
  .github/workflows/ci-setup.yml
  .github/workflows/linting.yaml
  docs/fix-ci-cd-pipeline_analysis.md
  tests/fix-ci-cd-pipeline_functional.py
  tests/fix-ci-cd-pipeline_tdd.py
Due: docs-coverage

Implement CLI Extraction Validator for structural link regression testing
  docs/EXTRACTION_VALIDATOR.md
  tests/gold_standards/entity_consistency.json
  tests/gold_standards/extraction_cases.json
  tests/gold_standards/relationship_integrity.json
  tests/gold_standards/results/clitestcase_20260205_214008_20260205_214058.json
  tests/gold_standards/results/clitestcase_20260205_214008_20260205_214447.json
  tests/gold_standards/structural_cases.json
  tests/test_extraction_validator.py
  validation/cli.py
  validation/extraction_validator.py
  validation/gold_standard_manager.py
  validation/regression_comparator.py
  validation/structural_analysis.py
Due: docs-coverage

RTB auto-commit: close task and sync beads
  .beads/issues.jsonl
Due: none

docs: align local SOP with global standards
  .agent/docs/sop/COMMANDS_ECOSYSTEM.md
  .agent/docs/sop/COMPLETE_SYMLINK_ECOSYSTEM.md
  .agent/docs/sop/MULTI_PHASE_HANDOFF_PROTOCOL.md
  .agent/docs/sop/MULTI_PHASE_IMPLEMENTATION_SUMMARY.md
  .agent/docs/sop/README.md
  .agent/docs/sop/SKILLS_ECOSYSTEM.md
  .agent/docs/sop/SOP_INTEGRATION_GUIDE.md
  .agent/docs/sop/TDD_MANDATORY_GATE.md
  .agent/docs/sop/global-configs/AGENT_ONBOARDING.md
  .agent/docs/sop/global-configs/COLLABORATION.md
  .agent/docs/sop/global-configs/GEMINI.md
  .agent/docs/sop/global-configs/KEYWORD_SEARCH_PERFORMANCE.md
  .agent/docs/sop/global-configs/README.md
  .agent/docs/sop/global-configs/tdd-workflow.md
  .agent/scripts/validate_sop_alignment.py
  tests/test_memgraph_impl.py
Due: none

fix: resolve syntax error in TDD compliance workflow
  .github/workflows/tdd-compliance.yml
Due: none

fix: update CI/CD pipeline to use Bun lock file instead of package-lock.json
  .github/workflows/ci-setup.yml
Due: none

fix: resolve cache key generation and Node.js setup issues in CI/CD
  .github/workflows/ci-setup.yml
  .github/workflows/linting.yaml
Due: none

Phase 3: Reflection Prompt Refinement - COMPLETED (TDD bypass)
  .beads/issues.jsonl
  .github/workflows/milestone_validation.yml
  .github/workflows/tests.yml
  .session_friction_20260206_023619.md
  PHASE3_COMPLETION_SUMMARY.md
  audit_results/phase1_baseline_results.json
  docs/lightrag-992-phase3_analysis.md
  generate_small_model_test_dataset.py
  harness/persistence.py
  lightrag/ace/cot_templates.py
  lightrag/ace/hallucination_detector.py
  lightrag/ace/reflector.py
  lightrag/core/__init__.py
  lightrag/operate.py
  lightrag/prompt.py
  pyproject.toml
  run_phase1_baseline.py
  run_prompt_baseline_audit.py
  run_reflection_quality_benchmark.py
  test_asymmetric_routing.py
  test_datasets/medium_test_subset.json
  test_datasets/simple_test_subset.json
  test_datasets/small_model_test_dataset.json
  tests/lightrag-992-phase3_functional.py
  tests/lightrag-992-phase3_tdd.py
Due: docs-coverage, tdd-validation, test-coverage-gate

RTB: Final session cleanup and reflection completion
  tests/lightrag-992-phase3_tdd.py
Due: none

Final session retrospective - Phase 3 completion
  SESSION_RETROSPECTIVE.md
Due: none

fix: resolve CI/CD pipeline langgraph dependency issues
  harness/persistence.py
  pyproject.toml
  test_harness_state.db-shm
  test_harness_state.db-wal
  tests/test_langgraph_infra.py
Due: none

Path conditions:
  webui-lint: any of: ^lightrag_webui/
  docs-coverage: any of: ^docs/|^README.md|^\.agent/rules/|^scripts/check_docs_coverage\.py$
  tdd-validation: any of: ^lightrag/.*\.py$
  test-coverage-gate: any of: ^lightrag/.*\.py$
