Repository marcdhansen/LightRAG_plusplus: changes, and which pre-commit hooks are due for each by the changed paths.
All: webui-lint, docs-coverage, tdd-validation, test-coverage-gate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^lightrag/api/webui/
        stages: [pre-commit, pre-push, manual]
      - id: end-of-file-fixer
        exclude: ^lightrag/api/webui/
        stages: [pre-commit, pre-push, manual]
      - id: check-yaml
        stages: [pre-commit, pre-push, manual]
        exclude: ^k8s-deploy/
      - id: check-json
        stages: [pre-commit, pre-push, manual]
        exclude: ^lightrag_webui/tsconfig\.json$
      - id: check-toml
        stages: [pre-commit, pre-push, manual]
      - id: check-added-large-files
        stages: [pre-commit, pre-push, manual]
      - id: debug-statements
        stages: [pre-commit, pre-push, manual]
      - id: check-case-conflict
        stages: [pre-commit, pre-push, manual]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push, manual]
      - id: mixed-line-ending
        stages: [pre-commit, pre-push, manual]
      - id: requirements-txt-fixer
        exclude: ^lightrag/api/webui/
        stages: [pre-commit, pre-push, manual]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff-format
        exclude: ^lightrag/api/webui/
        stages: [pre-commit, pre-push, manual]
      - id: ruff
        args: [--fix, --ignore=E402]
        exclude: ^lightrag/api/webui/
        stages: [pre-commit, pre-push, manual]

  - repo: local
    hooks:
      - id: webui-lint
        name: WebUI Linting
        entry: bash -c "cd lightrag_webui && bun run lint"
        language: system
        files: ^lightrag_webui/
        pass_filenames: false
        stages: [pre-push, manual]
      - id: docs-coverage
        name: Documentation Coverage & Portability
        entry: uv run python scripts/check_docs_coverage.py
        language: system
        files: ^docs/|^README.md|^\.agent/rules/|^scripts/check_docs_coverage\.py$
        pass_filenames: false
        stages: [pre-push, manual]
      - id: tdd-validation
        name: TDD Gate Validation
        entry: python .agent/scripts/tdd_gate_validator.py
        language: system
        files: ^lightrag/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: test-coverage-gate
        name: Test Coverage Gate
        entry: bash -c 'coverage report --fail-under=80 || echo "Test coverage below 80%"'
        language: system
        files: ^lightrag/.*\.py$
        pass_filenames: false
        stages: [pre-push]
      - id: main-branch-protection
        name: Main Branch Protection
        entry: .agent/scripts/main_branch_protection.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.50"
    hooks:
      - id: check-manifest
        stages: [manual]
        exclude: ^lightrag_webui/|^lightrag/api/webui/

fix: update rag storage test status files
  rag_storage_ace_test/kv_store_doc_status.json
  rag_storage_ace_test/kv_store_full_docs.json
Due: none

rtb-auto-commit: uncommitted changes at 2026-02-03 22:31:59
  test-rtb-file.txt
Due: none

cleanup: remove test file
  test-rtb-file.txt
Due: none

fix(ci): resolve linting and formatting failures in validate_version_consistency, ab_testing, and tests
  .agent/docs/sop/COMMANDS_ECOSYSTEM.md
  .agent/docs/sop/COMPLETE_SYMLINK_ECOSYSTEM.md
  .agent/docs/sop/README.md
  .agent/docs/sop/SKILLS_ECOSYSTEM.md
  .agent/docs/workspace/QUICK_REFERENCE.md
  .agent/scripts/check_reference_integrity.py
  .agent/scripts/validate_version_consistency.py
  .agent/skills/README.md
  .beads/issues.jsonl
  ab_testing/enhanced_production_test.py
  ab_testing/production_ab_framework.py
  ab_testing/simple_ab_framework.py
  ab_testing/ultra_simple_ab_framework.py
  deployment/phase3_rollout.py
  deployment/traffic_router.py
  docker-compose.openviking.yml
  lightrag/kg/nano_vector_db_impl.py
  monitoring/openviking_monitor.py
  openviking/comparison/run_comparison.py
  openviking/demo_features.py
  openviking/migration/migrate_to_openviking.py
  openviking/migration/smp_to_openviking_migration.py
  openviking/mock_server.py
  openviking/test_advanced_features.py
  rag_storage_ace_test/ace_data/context_playbook.json
  rag_storage_ace_test/kv_store_doc_status.json
  rag_storage_ace_test/kv_store_full_docs.json
  scripts/agent-init.sh
  scripts/lightrag-services.sh
  test_ace_api_storage/ace_data/context_playbook.json
  test_ace_curator/ace_data/context_playbook.json
  test_ace_curator_exec/ace_data/context_playbook.json
  test_keyword_simple.py
  tests/test_keyword_search.py
Due: tdd-validation, test-coverage-gate

bd sync: 2026-02-03 23:00:51
  .beads/issues.jsonl
Due: none

Configure OpenViking slash command execution and fix type annotations
  openviking/enhanced_server.py
Due: none

feat(scripts): implement enhanced show-next-task script
  scripts/show_next_tasks.py
  task.md
  tests/test_show_next_tasks.py
Due: none

chore: SOP enhancements - RTB simplification and Mission Debrief phase (#25)
  .agent/docs/sop/global-configs/SKILLS_INDEX.md
  .agent/rules/ImplementationPlan.md
  .agent/rules/ROADMAP.md
  .beads/issues.jsonl
  .github/workflows/milestone_validation.yml
  .gitignore
  ab_testing/README.md
  ab_testing/advanced_dashboard.py
  ab_testing/comprehensive_framework.py
  ab_testing/demo_complete_framework.py
  ab_testing/load_testing_canary.py
  ab_testing/realtime_monitoring.py
  ab_testing/statistical_analysis.py
  docs/benchmarks/ORIGINAL_REPO_COMPARISON.md
  docs/incremental_validation_architecture.md
  requirements-validation.txt
  scripts/show_next_tasks.py
  task.md
  tests/test_show_next_tasks.py
  validation/README.md
  validation/__init__.py
  validation/cli.py
  validation/milestone_validator.py
  validation/models.py
  validation/scripts/example_usage.py
  validation/workflow_orchestrator.py
Due: docs-coverage

fix(ci): remove sqlite3 from requirements-validation.txt
  .beads/issues.jsonl
  requirements-validation.txt
  task.md
Due: none

fix(ci): address linting and dependency issues
  .github/workflows/milestone_validation.yml
  ab_testing/advanced_dashboard.py
  ab_testing/load_testing_canary.py
  ab_testing/statistical_analysis.py
  docs/incremental_validation_architecture.md
  validation/README.md
  validation/cli.py
  validation/milestone_validator.py
  validation/scripts/example_usage.py
Due: docs-coverage

rtb-auto-commit: uncommitted changes at 2026-02-04 04:14:17
  task.md
Due: none

fix: change RERANK_BINDING from 'none' to 'null' to match valid choices
  .env.smp
Due: none

rtb-auto-commit: uncommitted changes at 1770179250
  debug_3b_extraction.py
  lightrag/prompt.py
  rag_storage_debug_extraction/graph_chunk_entity_relation.graphml
  rag_storage_debug_extraction/kv_store_doc_status.json
  rag_storage_debug_extraction/kv_store_entity_chunks.json
  rag_storage_debug_extraction/kv_store_full_docs.json
  rag_storage_debug_extraction/kv_store_full_entities.json
  rag_storage_debug_extraction/kv_store_full_relations.json
  rag_storage_debug_extraction/kv_store_llm_response_cache.json
  rag_storage_debug_extraction/kv_store_relation_chunks.json
  rag_storage_debug_extraction/kv_store_text_chunks.json
  rag_storage_debug_extraction/vdb_chunks.json
  rag_storage_debug_extraction/vdb_entities.json
  rag_storage_debug_extraction/vdb_relationships.json
Due: tdd-validation, test-coverage-gate

cleanup: remove rag_storage_debug_extraction files
  rag_storage_debug_extraction/graph_chunk_entity_relation.graphml
  rag_storage_debug_extraction/kv_store_doc_status.json
  rag_storage_debug_extraction/kv_store_entity_chunks.json
  rag_storage_debug_extraction/kv_store_full_docs.json
  rag_storage_debug_extraction/kv_store_full_entities.json
  rag_storage_debug_extraction/kv_store_full_relations.json
  rag_storage_debug_extraction/kv_store_llm_response_cache.json
  rag_storage_debug_extraction/kv_store_relation_chunks.json
  rag_storage_debug_extraction/kv_store_text_chunks.json
  rag_storage_debug_extraction/vdb_chunks.json
  rag_storage_debug_extraction/vdb_entities.json
  rag_storage_debug_extraction/vdb_relationships.json
Due: none

chore: achieve 100% relationship accuracy on Einstein case for 3B models via dense linking prompts
  .agent/rules/ImplementationPlan.md
  .agent/rules/ROADMAP.md
  audit_results/baseline_audit_report.md
  debug_3b_extraction.py
  docs/benchmarks/EXTRACTION_PROMPT_OPTIMIZATION.md
  lightrag/prompt.py
  rag_storage_debug_extraction/kv_store_doc_status.json
  rag_storage_debug_extraction/kv_store_full_docs.json
  task.md
  tests/test_gold_standard_extraction.py
Due: docs-coverage, tdd-validation, test-coverage-gate

bd sync: 2026-02-04 04:59:39
  .beads/issues.jsonl
Due: none

fix(ci): Milestone Validation Pipeline cache-key export (#27)
  .agent/rules/ImplementationPlan.md
  .agent/rules/ROADMAP.md
  .agent/task.md
  .beads/issues.jsonl
  .env.smp
  .github/workflows/milestone_validation.yml
  ab_testing/advanced_dashboard.py
  ab_testing/load_testing_canary.py
  ab_testing/statistical_analysis.py
  audit_results/baseline_audit_report.md
  docs/benchmarks/EXTRACTION_PROMPT_OPTIMIZATION.md
  docs/incremental_validation_architecture.md
  docs/ollama_intel_mac_performance.md
  lightrag/prompt.py
  lightrag/utils.py
  requirements-validation.txt
  task.md
  tests/test_gold_standard_extraction.py
  validation/README.md
  validation/cli.py
  validation/milestone_validator.py
  validation/scripts/example_usage.py
Due: docs-coverage, tdd-validation, test-coverage-gate

docs: Add session friction log for mission debriefing
  .session_friction_20260204_062421.md
Due: none

fix(ci): ignore tests/ui in milestone validation to avoid playwright dependency
  .beads/issues.jsonl
  .github/workflows/milestone_validation.yml
Due: none

bd sync: 2026-02-04 15:28:01
  .beads/issues.jsonl
Due: none

chore: finalize mission and clear approval
  .agent/task.md
Due: none

chore: fix linting and merge main
  .agent/scripts/git_operation_guards.sh
  lightrag/kg/memgraph_impl.py
  uv.lock
Due: tdd-validation, test-coverage-gate

chore: fix linting
  tests/test_community_detection_benchmarks.py
  tests/test_memgraph_community_detection.py
Due: none

Implement adaptive SOP system with intelligent preflight analysis, progressive documentation, and continuous learning
  .agent/GLOBAL/index/GLOBAL_INDEX.md
  .agent/docs/ADAPTIVE_SOP_DEPLOYMENT.md
  .agent/docs/progressive/error_handling.md
  .agent/docs/progressive/preflight.md
  .agent/docs/progressive/rtb.md
  .agent/docs/sop/README.md
  .agent/docs/sop/TDD_MANDATORY_GATE.md
  .agent/scripts/adaptive_sop_engine.sh
  .agent/scripts/conditional_skill_detector.py
  .agent/scripts/continual_evolution_reflector.py
  .agent/scripts/integration_test.sh
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/progressive_documentation_generator.sh
  .agent/scripts/simplified_execution_coordinator.sh
  .agent/scripts/sop_compliance_validator.py
  .agent/scripts/tdd_gate_validator.py
  .agent/scripts/universal_mission_debrief.py
  .agent/scripts/validate_tdd_compliance.sh
  .beads/issues.jsonl
  .session_friction_20260204_062421.md
  docs/community_detection_tradeoffs.md
  scripts/validate_tdd_compliance.sh
  task.md
  tests/test_community_detection_benchmarks.py
Due: docs-coverage

Add mission debrief log for lightrag-64p adaptive SOP system implementation
  .agent/logs/mission_debrief_lightrag-64p_20250204.md
Due: none

Implement Chain-of-Thought (CoT) reasoning system for ACE Reflector
  .agent/GLOBAL/index/GLOBAL_INDEX.md
  .beads/issues.jsonl
  docs/README.md
  docs/performance/COT_PERFORMANCE_ANALYSIS.md
  docs/project/ACE_FRAMEWORK.md
  docs/project/COT_REASONING.md
  examples/cot_reasoning_demo.py
  lightrag/ace/config.py
  lightrag/ace/cot_templates.py
  lightrag/ace/reflector.py
  rag_storage_cot_test/ace_data/context_playbook.json
  rag_storage_cot_test/kv_store_doc_status.json
  rag_storage_cot_test/kv_store_full_docs.json
  test_ace_api_storage/ace_data/context_playbook.json
  tests/test_cot_integration.py
Due: docs-coverage, tdd-validation, test-coverage-gate

Add mission debrief for CoT implementation (lightrag-2ep)
  debrief_cot_implementation.md
Due: none

Cleanup temporary test directories after CoT implementation
  rag_storage_ace_test/ace_data/context_playbook.json
  rag_storage_ace_test/kv_store_doc_status.json
  rag_storage_ace_test/kv_store_full_docs.json
  rag_storage_cot_test/ace_data/context_playbook.json
  rag_storage_cot_test/kv_store_doc_status.json
  rag_storage_cot_test/kv_store_full_docs.json
  test_ace_api_storage/ace_data/context_playbook.json
Due: none

Implement Universal Skill Resolver and Skill Availability Testing
  .agent/scripts/test-skill-availability.sh
  lightrag/core/skill_resolver.py
Due: tdd-validation, test-coverage-gate

chore: fix syntax errors and satisfy TDD gate
  .agent/docs/ADAPTIVE_SOP_DEPLOYMENT.md
  .agent/docs/progressive/error_handling.md
  .agent/docs/progressive/preflight.md
  .agent/docs/progressive/rtb.md
  .agent/docs/sop/TDD_MANDATORY_GATE.md
  .agent/logs/mission_debrief_lightrag-64p_20250204.md
  .agent/scripts/adaptive_sop_engine.sh
  .agent/scripts/conditional_skill_detector.py
  .agent/scripts/continual_evolution_reflector.py
  .agent/scripts/integration_test.sh
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/progressive_documentation_generator.sh
  .agent/scripts/simplified_execution_coordinator.sh
  .agent/scripts/sop_compliance_validator.py
  .agent/scripts/test-skill-availability.sh
  .agent/scripts/universal_mission_debrief.py
  .agent/scripts/validate_tdd_compliance.sh
  debrief_cot_implementation.md
  docs/community_detection_tradeoffs.md
  docs/performance/COT_PERFORMANCE_ANALYSIS.md
  docs/project/COT_REASONING.md
  examples/cot_reasoning_demo.py
  lightrag/ace/cot_templates.py
  lightrag/core/skill_resolver.py
  lightrag/evaluation/eval_rag_quality.py
  lightrag/evaluation/grounded_ai_backend.py
  pyproject.toml
  tests/test_cot_integration.py
  tests/test_grounded_ai.py
  tests/test_skill_resolver.py
  uv.lock
Due: docs-coverage, tdd-validation, test-coverage-gate

chore: fix linting and satisfy TDD gate for numpy update
  .session_friction_20260204_062421.md
  tests/test_memgraph_impl.py
Due: none

rtb-auto-commit: uncommitted changes at 2026-02-04 20:27:53
  .agent/docs/TDD_COMPLIANCE_SYSTEM.md
  .agent/scripts/conditional_skill_detector.py
  .agent/scripts/continual_evolution_reflector.py
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/sop_compliance_validator.py
  .agent/scripts/universal_mission_debrief.py
  .agent/scripts/validate_beads_issue.sh
  .agent/scripts/validate_tdd_compliance.sh
  .github/workflows/tdd-compliance.yml
  lightrag/evaluation/README_EVALUASTION_RAGAS.md
Due: none

docs: complete mission closure summary for TDD compliance implementation and GroundedAI analysis [lightrag-64p]
  MISSION_CLOSURE_SUMMARY.md
Due: none

rtb-auto-commit: uncommitted changes at 2026-02-04 21:44:40
  DSPY_PHASE1_SUMMARY.md
  DSPY_PHASE2_SUMMARY.md
  dspy_phase1_demo.py
  lightrag/dspy_integration/README.md
  lightrag/dspy_integration/__init__.py
  lightrag/dspy_integration/config.py
  lightrag/dspy_integration/evaluators/__init__.py
  lightrag/dspy_integration/evaluators/prompt_evaluator.py
  lightrag/dspy_integration/generators/__init__.py
  lightrag/dspy_integration/generators/entity_extractor.py
  lightrag/dspy_integration/optimizers/__init__.py
  lightrag/dspy_integration/optimizers/ab_integration.py
  lightrag/dspy_integration/phase2/__init__.py
  lightrag/dspy_integration/phase2/ace_cot_integration.py
  lightrag/dspy_integration/phase2/production_pipeline.py
  lightrag/dspy_integration/phase2/prompt_family_optimization.py
  lightrag/dspy_integration/phase2/prompt_replacement.py
  lightrag/dspy_integration/phase2/realtime_monitoring.py
  lightrag/dspy_integration/phase2/realtime_optimizer.py
  lightrag/dspy_integration/prompts/dspy_ab_test_matrix.json
  lightrag/dspy_integration/prompts/optimized_entity_prompts.json
  test_dspy_integration.py
Due: tdd-validation, test-coverage-gate

docs: add comprehensive DSPy Phase 2 mission debrief [lightrag-64p]
  MISSION_DEBRIEF_DSPY_PHASE2.md
Due: none

Add DSPy Phase 2 implementation summary and Phase 3 XAI issue
  .beads/issues.jsonl
Due: none

rtb-auto-commit: uncommitted changes at 2026-02-04 22:44:20
  .agent/GLOBAL/index/GLOBAL_INDEX.md
  docs/architecture/DSPY_SOP_REFACTORING_DECISION.md
Due: docs-coverage

rtb-auto-commit: uncommitted changes at 2026-02-04 23:50:39
  .agent/IMPLEMENTATION_READINESS_COMPLETE.md
  .agent/config/tdd_config.yaml
  .agent/docs/sop/TDD_MANDATORY_GATE.md
  .agent/scripts/intelligent_preflight_analyzer.sh
  .agent/scripts/test_pfc_integration.sh
  .agent/scripts/validate_implementation_ready.py
  .beads/issues.jsonl
  .session_friction_20260204_235038.md
Due: none

rtb-auto-commit: uncommitted changes at 2026-02-05 00:10:45
  .agent/GLOBAL/index/GLOBAL_INDEX.md
  .session_friction_20260204_062421.md
  .session_friction_20260204_235038.md
  docs/sop/workspace/DOCUMENTATION_LINK_VALIDATION.md
  scripts/check_docs_coverage.py
  scripts/validate_global_agent_index_links.py
  scripts/validate_global_index_links.py
Due: docs-coverage

rtb-auto-commit: uncommitted changes at 2026-02-05 00:30:27
  .agent/docs/sop/MULTI_PHASE_HANDOFF_PROTOCOL.md
  .agent/docs/sop/MULTI_PHASE_IMPLEMENTATION_SUMMARY.md
  .agent/docs/sop/README.md
  .agent/scripts/verify_handoff_compliance.sh
Due: none
