Repository marcdhansen/LightRAG_plusplus: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-validation, awk-lint-check, webui-lint, docs-coverage, tdd-validation, test-coverage-gate

changelog-validation:
  name: CHANGELOG Validation
  description: Validates CHANGELOG.md format and catches corruption
  entry: ./scripts/hooks/changelog-validate.sh
  language: script
  stages:
  - pre-commit
  - pre-push
  - manual

awk-lint-check:
  name: AWK Lint Check
  description: Check AWK scripts in workflow files for portability issues
  entry: ./scripts/hooks/awk-lint-check.sh
  language: script
  stages:
  - pre-commit

webui-lint:
  name: WebUI Linting
  entry: bash -c "scripts/hooks/webui-lint-check.sh"
  language: script
  pass_filenames: false
  stages:
  - pre-push
  - manual

docs-coverage:
  name: Documentation Coverage & Portability
  entry: uv run python scripts/check_docs_coverage.py
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

tdd-validation:
  name: TDD Gate Validation
  entry: python .agent/scripts/tdd_gate_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-coverage-gate:
  name: Test Coverage Gate
  entry: bash -c 'coverage report --fail-under=80 || echo "Test coverage below 80%"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ci): add multi-layer CHANGELOG validation to prevent corruption
  .github/workflows/changelog-update.yml
  .github/workflows/ci-setup.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/hooks/changelog-commit-validate.sh
  scripts/hooks/changelog-validate.sh
Due: changelog-validation, awk-lint-check

chore: add beads issue for CHANGELOG validation fix
  .beads/issues.jsonl
Due: none

refactor: simplify CHANGELOG validation with dedicated script
  AGENTS.md
  scripts/changelog_validation.sh
  scripts/hooks/changelog-commit-validate.sh
  scripts/hooks/changelog-validate.sh
Due: none

test: add LangExtract evaluation tests
  rag_storage_gold_standard/graph_chunk_entity_relation.graphml
  rag_storage_gold_standard/kv_store_doc_status.json
  rag_storage_gold_standard/kv_store_entity_chunks.json
  rag_storage_gold_standard/kv_store_full_docs.json
  rag_storage_gold_standard/kv_store_full_entities.json
  rag_storage_gold_standard/kv_store_full_relations.json
  rag_storage_gold_standard/kv_store_llm_response_cache.json
  rag_storage_gold_standard/kv_store_relation_chunks.json
  rag_storage_gold_standard/kv_store_text_chunks.json
  rag_storage_gold_standard/vdb_chunks.json
  rag_storage_gold_standard/vdb_entities.json
  rag_storage_gold_standard/vdb_relationships.json
  tests/benchmark_native_gleaning.py
  tests/test_extraction_benchmark.py
  tests/test_langextract_debug.py
  tests/test_langextract_full.py
  tests/test_langextract_grounding.py
  tests/test_langextract_theory.py
Due: none

chore: add scripts/next.sh utility and update gitignore
  .gitignore
  scripts/next.sh
Due: none

chore: add beads lock files to gitignore
  .gitignore
Due: none

fix(ci): add multi-layer CHANGELOG validation to prevent corruption (#50)
  .beads/issues.jsonl
  .github/workflows/ci-setup.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  scripts/changelog_validation.sh
  scripts/hooks/changelog-validate.sh
  scripts/next.sh
Due: changelog-validation, awk-lint-check

test: add LangExtract evaluation tests (#53)
  rag_storage_gold_standard/graph_chunk_entity_relation.graphml
  rag_storage_gold_standard/kv_store_doc_status.json
  rag_storage_gold_standard/kv_store_entity_chunks.json
  rag_storage_gold_standard/kv_store_full_docs.json
  rag_storage_gold_standard/kv_store_full_entities.json
  rag_storage_gold_standard/kv_store_full_relations.json
  rag_storage_gold_standard/kv_store_llm_response_cache.json
  rag_storage_gold_standard/kv_store_relation_chunks.json
  rag_storage_gold_standard/kv_store_text_chunks.json
  rag_storage_gold_standard/vdb_chunks.json
  rag_storage_gold_standard/vdb_entities.json
  rag_storage_gold_standard/vdb_relationships.json
  tests/benchmark_native_gleaning.py
  tests/test_extraction_benchmark.py
  tests/test_langextract_debug.py
  tests/test_langextract_full.py
  tests/test_langextract_grounding.py
  tests/test_langextract_theory.py
Due: none

fix: resolve CI/CD failures (TDD compliance, missing dependency)
  .github/workflows/tests.yml
  docs/changelog-validation-layers_analysis.md
  docs/langextract-clean_analysis.md
  pyproject.toml
  tests/changelog-validation-layers_functional.py
  tests/changelog-validation-layers_tdd.py
  tests/langextract-clean_functional.py
  tests/langextract-clean_tdd.py
Due: awk-lint-check, docs-coverage

fix(ci): exclude langextract test files that run at import time
  .github/workflows/tests.yml
Due: awk-lint-check

Path conditions:
  changelog-validation: any of: ^CHANGELOG\.md$
  awk-lint-check: any of: \.github/workflows/.*\.yml$
  webui-lint: any of: ^lightrag_webui/
  docs-coverage: any of: ^docs/|^README.md|^\.agent/rules/|^scripts/check_docs_coverage\.py$
  tdd-validation: any of: ^lightrag/.*\.py$
  test-coverage-gate: any of: ^lightrag/.*\.py$
